@charset "UTF-8";
/* Palette Ocean */
/* Palette purple */
/* Palette Magenta */
/* --------------- */
/* text */
/* pills */
/* Button */
/* ------ ------ */
body {
  background-color: #fffbc7;
}

h1, h3 {
  color: #020718;
}

h3 {
  font-size: 24px;
}

h2 {
  color: #ef1f49;
  font-size: 30px;
}

p, ul, .li-skill {
  font-size: 14px;
  color: #444c67;
}

hr {
  margin-top: 5px;
  margin-bottom: 5px;
  color: #ef1f49;
}

strong {
  color: #020718;
  text-shadow: 0 0 6px #fff;
}

.container-primary-stats {
  margin-top: 10px;
  margin-bottom: 50px;
}

.container-know-more {
  padding-top: 35px;
}

#index {
  height: 100vh;
}

.big-icon {
  text-align: center;
  padding: 20px 0px;
}

/* Row principales de la page index */
.row-index-l {
  padding-top: 50px;
  text-align: center;
}

.row-index-md {
  padding-top: 30px;
}

/* Liste */
.list-space li {
  list-style: none;
  margin: 20px 0px;
}

/* -- Style de bloc */
.bloc-text {
  background-color: #e1d8c6;
  padding: 20px;
}

.bloc-list {
  padding: 20px 0px;
}

.secondary-skills {
  padding-left: 50px;
}

.list-python {
  padding: 20px 0px 20px 40px;
}

.bloc-list h3 {
  margin-bottom: 20px;
}

/* -- Icone et bar progress */
[class*=skill-] {
  box-sizing: border-box;
  width: 125px;
  position: relative;
  text-align: center;
  margin: auto;
}

.skill-xl {
  width: 175px;
}

.listLanguages h2 {
  text-align: center;
}

.fa-circle {
  color: #ddbaba;
}

/* Icones */
.icon {
  position: absolute;
  top: 26px;
  left: 39px;
  font-size: 50px;
  color: #ef1f49;
}

.icon-xl {
  top: 52px;
  left: 42px;
  font-size: 75px;
}

.icon-md {
  font-size: 48px;
  top: 40px;
  left: 41px;
}

/* -- Puce de notation de competence */
.li-skill {
  padding: 2px 0px;
}

/* Liste de compétences en vrac*/
.list-skill {
  border: 1px solid #ef1f49;
  height: 100%;
  padding: 8px;
}

.list-skill ul {
  padding: 25px 20px 15px 15px;
  list-style: none;
}

.list-skill li {
  margin-bottom: 10px;
}

.text-xl {
  font-size: 18px;
  color: #020718;
}

/* Projet */
.project {
  border: 3px #fffbc7 solid;
}

.badge {
  border: 1px #ef1f49 solid;
  color: #ef1f49;
  margin: 2px;
  font-size: 16px;
}

.c-lblue {
  color: #ef1f49;
}

.c-dark {
  color: #ddbaba;
}

/* bouton */
.button-text.button-primary:hover, .button.button-primary:hover, .button-text.button-primary, .button.button-primary:focus {
  background: #fe5450;
  color: #fafafa;
}

.button-small.button-primary, .button-small.button-info, .button-small.button-success, .button-small.button-warning, .button-small.button-danger, .button-small.button-inverse {
  box-shadow: inset 0 -2px 0 0 rgba(0, 0, 0, 0.2);
}

.button:hover {
  text-decoration: none;
}

.button-text.button-primary, .button.button-primary {
  background: #ef1f49;
  color: #fafafa;
}

.button:hover, .button:focus {
  background: #e6e6e6;
  color: #222;
}

.button-text.button-primary, .button.button-primary, .button.button-info, .button.button-success, .button.button-warning, .button.button-danger, .button.button-inverse {
  box-shadow: inset 0 -3px 0 0 rgba(0, 0, 0, 0.2);
}

.buttons .button {
  margin: 0 5px 5px 0;
}

a:hover {
  text-decoration: underline;
}

a:active, a:hover {
  outline-width: 0;
}

.button-inline {
  display: inline-block;
  vertical-align: middle;
}

.button {
  width: 254px;
  /*display: block;*/
  text-align: center;
  cursor: pointer;
  border: none;
  height: 40px;
  padding: 0 14px;
  border-radius: 5px;
  box-shadow: inset 0 -3px 0 0 rgba(0, 0, 0, 0.15);
  font-size: 18px;
  line-height: 37px;
  -webkit-transition-property: background-color;
  -webkit-transition-duration: 0.2s;
  -webkit-transition-timing-function: linear;
  -moz-transition-property: background-color;
  -moz-transition-duration: 0.2s;
  -moz-transition-timing-function: linear;
  -ms-transition-property: background-color;
  -ms-transition-duration: 0.2s;
  -ms-transition-timing-function: linear;
  -o-transition-property: background-color;
  -o-transition-duration: 0.2s;
  -o-transition-timing-function: linear;
  transition-property: background-color;
  transition-duration: 0.2s;
  transition-timing-function: linear;
  background: #fafafa;
  color: #222;
}

.button-text {
  text-align: center;
  cursor: pointer;
  border: none;
  border-radius: 5px;
  box-shadow: inset 0 -3px 0 0 rgba(0, 0, 0, 0.15);
  font-size: 15px;
  line-height: 20px;
  padding: 11px 21px;
  padding-top: 11px;
  padding-bottom: 11px;
  -webkit-transition-property: background-color;
  -webkit-transition-duration: 0.2s;
  -webkit-transition-timing-function: linear;
  -moz-transition-property: background-color;
  -moz-transition-duration: 0.2s;
  -moz-transition-timing-function: linear;
  -ms-transition-property: background-color;
  -ms-transition-duration: 0.2s;
  -ms-transition-timing-function: linear;
  -o-transition-property: background-color;
  -o-transition-duration: 0.2s;
  -o-transition-timing-function: linear;
  transition-property: background-color;
  transition-duration: 0.2s;
  transition-timing-function: linear;
  background: #fafafa;
  color: #222;
}

.button-small {
  height: 30px;
  padding: 0 10px;
  border-radius: 4px;
  box-shadow: inset 0 -2px 0 0 rgba(0, 0, 0, 0.15);
  font-size: 14px;
  line-height: 28px;
}

a {
  color: #ef1f49;
  text-decoration: none;
}

a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}

.border-magenta {
  border-color: #ef1f49 !important;
}

/*# sourceMappingURL=style.css.map */
